[Unit]
Description=piframe service
After=network.target

[Service]
WorkingDirectory=/home/pi/piframe/
ExecStart=/home/pi/piframe/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
